<html>
    {% load staticfiles %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Alle Bits</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

        <!-- Optional theme -->
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> -->

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{% static 'matrix.css' %}">
    </head>
    <body>
        <!-- Static navbar -->
        <div class="navbar navbar-default navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/bits">BitBilder</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li class="active"><a href="/bits"><span class="glyphicon glyphicon-picture"></span> Alle Bits</a></li>
                    <li><a href="/bits/add"><span class="glyphicon glyphicon-plus"></span> Hinzufügen</a></li>
                    <li><a href="/bits/download/"><span class="glyphicon glyphicon-download"></span> Download</a></li>
                </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div><!-- end navbar -->

        {% load staticfiles %}
        {% if bit_list %}
            <table class="table table-striped">
                <tr>
                    <th>Bit</th>
                    <th>Name</th>
                    <th>Download</th>
                    <th>Bit</th>
                    <th>Name</th>
                    <th>Download</th>
                </tr>
            {% for bit in bit_list %}

                {% if forloop.counter0|divisibleby:2 %}
                <tr>
                    <td> <img src="/images/{{bit.bit_image}}" alt="{{bit.bitname}}" height="64px" style="align: center;"> </td>
                    <td> <a href="{% url 'details' bit.id %}">{{bit.bitname}}</a> </td>
                    <td>
                        <div class="btn-group">
                            <a href="/images/{{ bit.bit_image }}" class="btn btn-info"><span class="glyphicon glyphicon-download"></span> Bild</a>
                            <a href="/images/{{ bit.bit_vector }}" class="btn btn-info"><span class="glyphicon glyphicon-download"></span> SVG</a>
                        </div>
                    </td>
                {% else %}
                    <td> <img src="/images/{{bit.bit_image}}" alt="{{bit.bitname}}" height="64px" style="align: center;"> </td>
                    <td> <a href="{% url 'details' bit.id %}">{{bit.bitname}}</a> </td>
                    <td>
                        <div class="btn-group">
                            <a href="/images/{{ bit.bit_image }}" class="btn btn-info"><span class="glyphicon glyphicon-download"></span> Bild</a>
                            <a href="/images/{{ bit.bit_vector }}" class="btn btn-info"><span class="glyphicon glyphicon-download"></span> SVG</a>
                        </div>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            </table>
        {% else %}
            <h4>Keine Bits verfügbar.</h4>
        {% endif %}
    </body>
</html>
