/* navbar */
div.navbar-default {
    background-color: #e74c3c;
    border-color: #c0392b;
}
/* title */
div.navbar-default .navbar-brand {
    color: #ecf0f1;
}
div.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffbbbc;
}
/* link */
div.navbar-default .navbar-nav > li > a {
    color: #ecf0f1;
}
div.navbar-default .navbar-nav > li > a:hover,
div.navbar-default .navbar-nav > li > a:focus {
    color: #ffbbbc;
}
div.navbar-default .navbar-nav > .active > a,
div.navbar-default .navbar-nav > .active > a:hover,
div.navbar-default .navbar-nav > .active > a:focus {
    color: #ffbbbc;
    background-color: #c0392b;
}
div.navbar-default .navbar-nav > .open > a,
div.navbar-default .navbar-nav > .open > a:hover,
div.navbar-default .navbar-nav > .open > a:focus {
    color: #ffbbbc;
    background-color: #c0392b;
}
/* caret */
div.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #ecf0f1;
    border-bottom-color: #ecf0f1;
}
div.navbar-default .navbar-nav > .dropdown > a:hover .caret,
div.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #ffbbbc;
    border-bottom-color: #ffbbbc;
}
div.navbar-default .navbar-nav > .open > a .caret,
div.navbar-default .navbar-nav > .open > a:hover .caret,
div.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #ffbbbc;
    border-bottom-color: #ffbbbc;
}
/* mobile version */
div.navbar-default .navbar-toggle {
    border-color: #c0392b;
}
div.navbar-default .navbar-toggle:hover,
div.navbar-default .navbar-toggle:focus {
    background-color: #c0392b;
}
div.navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
}
@media (max-width: 767px) {
    div.navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ecf0f1;
    }
    div.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    div.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffbbbc;
    }
}

/* custom classes */
